<section class="sign-up">
  <div class="sign-up__logo">
    <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#good'" [classes]="'svg-icon'"></svg-icon-sprite>
  </div>
  <div class="frame">
    <div class="sign-up__content">
      <h2 class="title-main sign-up__title">
        Sign Up Today
      </h2>
      <div class="descr sign-up__descr">
        <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
          sed quia consequuntur magni dolores eos qui ratione.
        </p>
      </div>
      <form class="sign-up__form">
        <input type="text" placeholder="samplemail@gmail.com">
        <button class="submit"></button>
      </form>
    </div>
  </div>
</section>
