<div class="clients-list">
  <div class="clients-list__header">
  <div class="clients-list__row">
    <button class="clients-list__item" (click)="sortClients('firstName')">
      <span class="clients-list__sort" [class.clients-list__sort--revers]="!sortType" *ngIf="sortKey == 'firstName'"></span>
      First Name
    </button>
    <button class="clients-list__item" (click)="sortClients('lastName')">
      <span class="clients-list__sort" [class.clients-list__sort--revers]="!sortType" *ngIf="sortKey == 'lastName'"></span>
      Last Name
    </button>
    <button class="clients-list__item" (click)="sortClients('isActive')">
      <span class="clients-list__sort" [class.clients-list__sort--revers]="!sortType" *ngIf="sortKey == 'isActive'"></span>
      Active
    </button>
    <button class="clients-list__item" (click)="sortClients('subscriptions')">
            <span class="clients-list__sort" [class.clients-list__sort--revers]="!sortType"
                  *ngIf="sortKey == 'subscriptionId' || sortKey == 'subscriptionName'"></span>
      Subscription
    </button>
    <button class="clients-list__item" (click)="sortClients('expirationDate')">
      <span class="clients-list__sort" [class.clients-list__sort--revers]="!sortType" *ngIf="sortKey == 'expirationDate'"></span>
      Expiration Date
    </button>
    <button class="clients-list__item" (click)="sortClients('balance')">
      <span class="clients-list__sort" [class.clients-list__sort--revers]="!sortType" *ngIf="sortKey == 'balance'"></span>
      Current Balance
    </button>
  </div>
</div>
  <div class="clients-list__list" @list>
    <div class="clients-list__row" [id]="client.id" *ngFor="let client of clients" (click)="editClient(client)" @items>
      <div class="clients-list__item">
        <div class="clients-list__cut">{{ client.firstName }}</div>
      </div>
      <div class="clients-list__item">
        <div class="clients-list__cut">{{ client.lastName }}</div>
      </div>
      <div class="clients-list__item">
        <div class="is-active" *ngIf="client.isActive; else notActive"></div>
        <ng-template #notActive><div class="no-active"></div></ng-template>
      </div>
      <div class="clients-list__item">
        <div class="clients-list__loader" *ngIf="!errors.subscriptionsIsLoaded; else subscriptionName">
          <div class="loader-min"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <ng-template #subscriptionName>
          <div class="clients-list__cut" *ngIf="!errors.subscriptionsIsSuccessful; else subscriptionName" title="{{ client.subscriptionId }}">
            {{ client.subscriptionId }}
          </div>
          <ng-template #subscriptionName>
            {{ client.subscriptionName }}
          </ng-template>
          <div class="no-active" *ngIf="!client.subscriptionId"></div>
        </ng-template>
      </div>
      <div class="clients-list__item">
        {{ client.expirationDate | date:'mediumDate' }}
        <div class="no-active" *ngIf="!client.expirationDate"></div>
      </div>
      <div class="clients-list__item">
        ${{ client.balance }}
      </div>
    </div>
  </div>
  <div class="clients-list__notification notification notification--error" *ngIf="errors.subscriptionsIsLoaded && !errors.subscriptionsIsSuccessful">
      Something went wrong with "Subsriptions"
  </div>
</div>
