@import '~src/assets/sass/styles';

.clients {
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__loader {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__error {
      padding: 20px;
      background: rgba($clr-error, .3);
  }
  &__search {
    max-width: 468px;
    width: 100%;
    flex: 1 1 0;
    padding-left: 20px;
  }
}
