<section class="workout">
  <div class="workout__img" style="background-image: url('assets/images/content/workout.png');"></div>
  <div class="workout__title">
    Good Workout
  </div>
  <div class="frame">
    <div class="workout__content">
      <div class="descr workout__descr">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumpsan
          lacus vel facilisis.
        </p>
      </div>
    </div>
  </div>
</section>
