@import '~src/assets/sass/styles';

.subscriptions {
  &__loader {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__error {
    padding: 20px;
    background: rgba($clr-error, .3);
  }
}
