<div class="client-search">
  <button class="client-search__btn" (click)="searchIsVisible = !searchIsVisible">
    <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#search'" [classes]="'svg-icon'"></svg-icon-sprite>
  </button>
  <div class="client-search__body" [class.client-search__body--visible]="searchIsVisible">
    <button class="client-search__filters" [class.client-search__filters--active]="filterIsActive" (click)="filterIsActive = !filterIsActive">
      <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#filter'" [classes]="'svg-icon'"></svg-icon-sprite>
    </button>
    <div class="client-search__form">
      <div class="form">
        <div class="form__row">
          <div class="form__field form__field--moved form__field--icon">
            <div class="form__wrap">
              <input type="text" [formControl]="search" [class.is-filled]="search.value.trim()">
              <label>
                <span>Search</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
