<nav class="navigation">
  <a title="Clients" class="navigation__link" [routerLink]="['./']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" >
    <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#clients'" [classes]="'svg-icon'"></svg-icon-sprite>
  </a>
  <a title="Subscriptions" class="navigation__link" [routerLink]="['subscriptions']" routerLinkActive="active">
    <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#subscriptions'" [classes]="'svg-icon'"></svg-icon-sprite>
  </a>
</nav>
