<div class="client-form">
  <button class="client-form__button" [class.client-form__button--hidden]="formIsVisible" (click)="createNewClient()">
    <span></span>
  </button>
  <div class="client-form__overlay" [class.client-form__overlay--visible]="formIsVisible" (click)="hideForm()"></div>
  <div class="client-form__wrapper" [class.client-form__wrapper--visible]="formIsVisible">
    <div class="client-form__body">
      <div class="client-form__header">
        <h2 class="client-form__title admin-title">
          <div *ngIf="isNewClient">
            New Client
          </div>
          <div *ngIf="!isNewClient">
            Edit Client
          </div>
        </h2>
        <button class="client-form__close" (click)="hideForm()"></button>
      </div>
      <form class="client-form__form" [formGroup]="clientForm" (ngSubmit)="onSubmit()" ngxScrollToFirstInvalid>
        <div class="form">
          <div class="form__row">
            <div class="form__field form__field--half form__field--moved"
                 [class.form__field--error]="hasError(['firstName'])">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="isFilled(['firstName'])"
                       (blur)="trimField(['firstName'])" formControlName="firstName">
                <label><span>First Name</span></label>
                <div class="form__error" *ngIf="hasError(['firstName'])">
                  <i *ngFor="let errorMessage of errorMessages(['firstName'], 'First Name')"> {{ errorMessage }} </i>
                </div>
              </div>
            </div>
            <div class="form__field form__field--half form__field--moved"
                 [class.form__field--error]="hasError(['lastName'])">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="isFilled(['lastName'])" formControlName="lastName"
                       (blur)="trimField(['lastName'])">
                <label><span>Last Name</span></label>
                <div class="form__error" *ngIf="hasError(['lastName'])">
                  <i *ngFor="let errorMessage of errorMessages(['lastName'], 'Last Name')"> {{ errorMessage }} </i>
                </div>
              </div>
            </div>
          </div>
          <div class="form__row form__row--ident">
            <div class="form__field form__field--half form__field--moved form__field--icon"
                 [class.form__field--error]="hasError(['dateOfBirth'])">
              <mat-form-field>
                <input matInput #inputDateOfBirth [matDatepicker]="pickerDateOfBirth" [max]="todayDate" [min]="minDate"
                       [matDatepickerFilter]="dateOfBirthFilter"
                       (click)="pickerDateOfBirth.open()" (blur)="trimField(['dateOfBirth'])"
                       formControlName="dateOfBirth">
                <label class="mat-form-field-label"><span>Date of Birth</span></label>
                <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#calendar'"
                                 [classes]="'svg-icon'"></svg-icon-sprite>
                <mat-datepicker #pickerDateOfBirth (closed)="inputDateOfBirth.blur()"></mat-datepicker>
                <div class="form__error" *ngIf="hasError(['dateOfBirth'])">
                  <i *ngFor="let errorMessage of errorMessages(['dateOfBirth'], 'Date of Birth')"> {{ errorMessage }} </i>
                </div>
              </mat-form-field>
            </div>
            <div class="form__field form__field--half">
              <div class="form__wrap">
                <div class="form__radiobtns">
                  <label class="form__radiobtn">
                    <input type="radio" value="male" checked formControlName="gender">
                    <span>Male</span>
                  </label>
                  <label class="form__radiobtn">
                    <input type="radio" value="female" formControlName="gender">
                    <span>Female</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__field form__field--moved" [class.form__field--error]="hasError(['email'])">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="isFilled(['email'])" formControlName="email"
                       (blur)="trimField(['email'])">
                <label><span>Email</span></label>
                <div class="form__error" *ngIf="hasError(['email'])">
                  <i *ngFor="let errorMessage of errorMessages(['email'], 'Email')"> {{ errorMessage }} </i>
                </div>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__field form__field--moved">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="isFilled(['address'])" formControlName="address"
                       (blur)="trimField(['address'])">
                <label><span>Address</span></label>
              </div>
            </div>
          </div>
          <div class="form__repeater" formArrayName="phones">
            <div class="form__list">
              <div class="form__row" *ngFor="let phone of phones.controls; let i = index">
                <div class="form__field form__field--half form__field--moved"
                     [class.form__field--error]="hasError(['phones', i])">
                  <div class="form__wrap">
                    <input type="text" [class.is-filled]="isFilled(['phones', i])" [formControlName]="i"
                           mask="+0 (000) 000-0000" (blur)="trimField(['phones', i])">
                    <label><span>Phone</span></label>
                    <button class="form__remove" type="button" (click)="removePhone(i)"></button>
                    <div class="form__error" *ngIf="hasError(['phones', i])">
                      <i *ngFor="let errorMessage of errorMessages(['phones', i], 'Phone')"> {{ errorMessage }} </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="form__add" type="button" (click)="addPhone()">Add Phone</button>
          </div>
          <div class="form__row" *ngIf="errors.subscriptionsIsSuccessful">
            <div class="form__field form__field--half form__field--moved">
              <div class="form__wrap">
                <mat-form-field>
                  <mat-label><span>Subscriptions</span></mat-label>
                  <mat-select disableOptionCentering panelClass="mat-custom-select" formControlName="subscriptionId">
                    <mat-option *ngFor="let subscription of subscriptions" [value]="subscription.id">
                      {{ subscription.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="form__field form__field--half form__field--moved form__field--icon" [class.form__field--error]="hasError(['expirationDate'])">
              <mat-form-field>
                <input matInput #inputExpirationDate [matDatepicker]="pickerExpirationDate"
                       [max]="maxDate" [min]="todayDate"
                       [matDatepickerFilter]="expirationDateFilter"
                       (click)="pickerExpirationDate.open()" (blur)="trimField(['expirationDate'])"
                       formControlName="expirationDate">
                <label class="mat-form-field-label"><span>Expiration Date</span></label>
                <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#calendar'"
                                 [classes]="'svg-icon'"></svg-icon-sprite>
                <div class="form__error" *ngIf="hasError(['expirationDate'])">
                  <i *ngFor="let errorMessage of errorMessages(['expirationDate'], 'Expiration Date')"> {{ errorMessage }} </i>
                </div>
                <mat-datepicker #pickerExpirationDate (closed)="inputExpirationDate.blur()"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="form__row">
            <div class="form__field">
              <div class="form__wrap">
                <label class="form__checkbox">
                  <input type="checkbox" value="true" formControlName="isActive">
                  <span>Active</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form__footer">
            <button type="submit" class="btn btn-admin">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
