<div class="client-form">
  <button class="client-form__button" [class.client-form__button--hidden]="formIsVisible" (click)="showForm()">
    <span></span></button>
  <div class="client-form__overlay" [class.client-form__overlay--visible]="formIsVisible" (click)="hideForm()"></div>

  <div class="client-form__wrapper" [class.client-form__wrapper--visible]="formIsVisible">
    <div class="client-form__body">
      <div class="client-form__header">
        <h2 class="client-form__title admin-title">
          New Client
        </h2>
        <button class="client-form__close" (click)="hideForm()"></button>
      </div>
      <form class="client-form__form" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="form">

          <div class="form__row">
            <div class="form__field form__field--half form__field--moved">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="clientForm.value.firstName.trim()" formControlName="firstName">
                <label><span>First Name</span></label>
              </div>
            </div>
            <div class="form__field form__field--half form__field--moved">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="clientForm.value.lastName.trim()" formControlName="lastName">
                <label><span>Last Name</span></label>
              </div>
            </div>
          </div>

          <div class="form__row form__row--ident">
            <div class="form__field form__field--half form__field--moved form__field--icon">
              <mat-form-field>
                <input matInput #inputDateOfBirth [matDatepicker]="pickerDateOfBirth"
                       (click)="pickerDateOfBirth.open()" formControlName="dateOfBirth">
                <label class="mat-form-field-label"><span>Date of Birth</span></label>
                <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#calendar'"
                                 [classes]="'svg-icon'"></svg-icon-sprite>
                <mat-datepicker #pickerDateOfBirth (closed)="inputDateOfBirth.blur()"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form__field form__field--half">
              <div class="form__wrap">
                <div class="form__radiobtns">
                  <label class="form__radiobtn">
                    <input type="radio" value="male" checked formControlName="gender">
                    <span>Male</span>
                  </label>
                  <label class="form__radiobtn">
                    <input type="radio" value="female" formControlName="gender">
                    <span>Female</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field form__field--moved">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="clientForm.value.email.trim()" formControlName="email">
                <label><span>Email</span></label>
              </div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__field form__field--moved">
              <div class="form__wrap">
                <input type="text" [class.is-filled]="clientForm.value.address.trim()" formControlName="address">
                <label><span>Address</span></label>
              </div>
            </div>
          </div>

          <div class="form__repeater">
            <div class="form__list">
              <div class="form__row">
                <div class="form__field form__field--half form__field--moved">
                  <div class="form__wrap">
                    <input type="text" [class.is-filled]="clientForm.value.phones.trim()" formControlName="phones">
                    <label><span>Phone</span></label>
                    <button class="form__remove"></button>
                  </div>
                </div>
              </div>
            </div>
            <button class="form__add" type="button">Add Phone</button>
          </div>

          <div class="form__row">
            <div class="form__field form__field--half form__field--moved">
              <div class="form__wrap">
                <mat-form-field>
                  <mat-label><span>Subscriptions</span></mat-label>
                  <mat-select disableOptionCentering panelClass="mat-custom-select" formControlName="subscriptionId">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="form__field form__field--half form__field--moved form__field--icon">
              <mat-form-field>
                <input matInput #inputExpirationDate [matDatepicker]="pickerExpirationDate"
                       (click)="pickerExpirationDate.open()" formControlName="expirationDate">
                <label class="mat-form-field-label"><span>Expiration Date</span></label>
                <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#calendar'"
                                 [classes]="'svg-icon'"></svg-icon-sprite>
                <mat-datepicker #pickerExpirationDate (closed)="inputExpirationDate.blur()"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="form__row">
            <div class="form__field">
              <div class="form__wrap">
                <label class="form__checkbox">
                  <input type="checkbox" value="true" formControlName="isActive">
                  <span>Active</span>
                </label>
              </div>
            </div>
          </div>

          <div class="form__footer">
            <button type="submit" class="btn btn-admin">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
