<section class="banner">
  <div class="banner__video">
    <video [loop]="true" [muted]="true" [autoplay]="true" data-keepplaying poster="assets/images/content/video.jpg">
      <source src="assets/images/content/video.mp4" type="video/mp4">
    </video>
  </div>
  <div class="frame">
    <div class="banner__content">
      <h1 class="banner__logo">
        GoodGym
        <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#logo'" [classes]="'svg-icon'"></svg-icon-sprite>
      </h1>
      <h3 class="banner__motto">
        Where Health Meets Sport
      </h3>
      <a href="#about" class="banner__btn"><span></span></a>
    </div>
  </div>
</section>
