<div class="clients">
  <div class="clients__main">
    <header class="clients__header">
      <div class="clients__title">
        <h1 class="admin-title">Clients</h1>
      </div>
        <div class="clients__search" *ngIf="errors.clientsIsLoaded && errors.clientsIsSuccessful">
          <app-search></app-search>
        </div>
    </header>
    <div class="clients__loader" *ngIf="!errors.clientsIsLoaded">
      <div class="loader-main"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="clients__error" *ngIf="errors.clientsIsLoaded && !errors.clientsIsSuccessful">
      Something went wrong with "Clients"
    </div>
    <div class="clients__filters" *ngIf="errors.clientsIsLoaded && errors.clientsIsSuccessful">
      <app-filters></app-filters>
    </div>
    <div class="clients__list" *ngIf="errors.clientsIsLoaded && errors.clientsIsSuccessful">
      <app-list [clients]="clients" [subscriptions]="subscriptions" [subscriptionsName]="subscriptionsName" [errors]="errors"></app-list>
    </div>
  </div>
  <div class="clients__form" *ngIf="errors.clientsIsLoaded && errors.clientsIsSuccessful">
    <app-form [clients]="clients" [subscriptions]="subscriptions" [subscriptionsName]="subscriptionsName" [errors]="errors"></app-form>
  </div>
</div>
