<div class="clients">
  <div class="clients__main">
    <header class="clients__header">
      <div class="clients__title">
        <h1 class="admin-title">Clients</h1>
      </div>
      <div class="clients__search">
        <app-search></app-search>
      </div>
    </header>
    <div class="clients__filters">
      <app-filters></app-filters>
    </div>
    <div class="clients__list">
      <app-list></app-list>
    </div>
  </div>
  <div class="clients__form">
    <app-form></app-form>
  </div>
</div>
