@import '~src/assets/sass/styles';

.clients {
  &__header {
    padding-bottom: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__loader {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__error {
      padding: 20px;
      background: rgba($clr-error, .3);
  }
}
