<section class="promo">
  <div class="promo__img" style="background-image: url('assets/images/content/about.jpg');"></div>
  <div class="frame">
    <div class="promo__content">
      <h2 class="title-main promo__title">
        Good Day!
      </h2>
      <div class="descr promo__descr">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
          rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
        </p>
        <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
      </div>
      <a href="#workout" class="link link--arrow promo__link">
        <span>Learn More</span>
        <i class="arrow"></i>
      </a>
    </div>
  </div>
</section>
