<div class="main-containter">
  <header class="header">
    <div class="frame">

    </div>
  </header>

  <section class="main-content">
    <section id="banner" class="banner">
      <div class="banner__wrap">
        <div class="frame">
          <div class="banner__content">
            <h1 class="logo"></h1>
            <h3 class="banner__slogan">
              Where Health Meets Sport
            </h3>
          </div>
        </div>
      </div>
    </section>
    <section id="promo" class="promo">
      <div class="promo__wrap">
        <div class="frame">
          <div class="promo__content">
            <h2 class="title-main promo__title">
              Good Day!
            </h2>
            <div class="descr promo__descr">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.
              </p>
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              </p>
            </div>
            <button class="link link--arrow">
              Learn More
            </button>
          </div>
        </div>
      </div>
    </section>
    <section id="workout" class="workout">
      <div class="workout__wrap">
        <div class="frame">
          <div class="workout__content">
            <div class="descr workout__descr">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumpsan lacus
                vel facilisis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="slider" class="slider">
      <div class="slider__wrap">
        <div class="frame">
          <div class="slider__content">

          </div>
        </div>
      </div>
    </section>
    <section id="interior" class="interior">
      <div class="interior__wrap">
        <div class="frame">
          <div class="interior__content">
            <h2 class="title-main interior__title">
              Good Interior
            </h2>
          </div>
        </div>
      </div>
    </section>
    <section id="contacts" class="contacts">
      <div class="contacts__wrap">
        <div class="frame">
          <div class="contacts__content">
            <div class="contacts__info">
              <h2 class="title-main contacts__title">
                Good Location
              </h2>
              <div class="descr contacts__descr">
                <p>
                  Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                </p>
              </div>
              <div class="contact__list">
                <div class="contact__item">
                  <div class="contact__icon">

                  </div>
                  <a href="https://www.google.ca/maps/place/732+Ave+E+Bayonne+NJ+07002+USA" target="_blank">
                    732 Ave E, Bayonne, NJ 07002, USA
                  </a>
                </div>
                <div class="contact__item">
                  <div class="contact__icon">

                  </div>
                  <a href="tel:+1 201-455-2644">
                    +1 201-455-2644
                  </a>
                </div>
                <div class="contact__item">
                  <div class="contact__icon">

                  </div>
                  <a href="mailto:goodgym_ny@gmail.com">
                    goodgym_ny@gmail.com
                  </a>
                </div>
              </div>
            </div>
            <div class="contacts__map">

            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="sign-up" class="sign-up">
      <div class="sign-up__wrap">
        <div class="frame">
          <div class="sign-up__content">
            <h2 class="title-main sign-up__title">
              Sign Up Today
            </h2>
            <div class="descr sign-up__descr">
              <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione.
              </p>
            </div>
            <div class="sign-up__form">
              <form>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <footer class="footer">
    <div class="footer__wrap">
      <div class="frame">
        <div class="footer__content">
          <div class="footer__copyright">
            © 2019 GoodGym Inc. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="https://www.instagram.com/" class="instagram" target="_blank">
  <span>

  </span>
  </a>

  <button class="to-top">
  <span>

  </span>
  </button>
</div>
