<div class="landing" (mousemove)="cursorMove($event)" (click)="cursorClick()" [class.nav-is-open]="navIsOpen">
  <header class="header">
    <a href="tel:050-300-21-22" class="header__phone">
      <svg-icon-sprite [src]="'assets/images/svg-sprite.svg#phone'" [classes]="'svg-icon'"></svg-icon-sprite>
      050-300-21-22
    </a>
    <button class="header__toggle" [class.nav-is-open]="navIsOpen" (click)="navIsOpen = !navIsOpen">
      <span class="lines">
        <span></span>
      </span>
    </button>
    <nav class="header__navigation" [class.is-visible]="navIsOpen">
      <div class="header__waves" #waves></div>
      <div class="frame">
        <ul>
          <li>
            <a href="#home" class="title-main" (click)="navIsOpen = false"><span>Home</span><i></i></a>
          </li>
          <li>
            <a href="#about" class="title-main" (click)="navIsOpen = false"><span>About</span><i></i></a>
          </li>
          <li>
            <a href="#plans" class="title-main" (click)="navIsOpen = false"><span>Plans</span><i></i></a>
          </li>
          <li>
            <a href="#contacts" class="title-main" (click)="navIsOpen = false"><span>Contacts</span><i></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  <div class="content" fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

    <app-banner class="fp-section fp-table"></app-banner>

    <app-promo class="fp-section fp-table"></app-promo>

    <app-workout class="fp-section fp-table"></app-workout>

    <app-slider class="fp-section fp-table"></app-slider>

    <app-interior class="fp-section fp-table"></app-interior>

    <app-contacts class="fp-section fp-table"></app-contacts>

    <app-sign-up class="fp-section fp-table"></app-sign-up>

    <app-footer class="fp-auto-height fp-section fp-table"></app-footer>

  </div>

  <div class="sticky">
  <span class="sticky__to-top">
    <a href="#home"><span></span></a>
  </span>
    <span class="sticky__instagram">
    <a href="https://www.instagram.com/" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 555.1 555.1">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="119.9594" y1="546.9883" x2="431.0061" y2="8.2397">
          <stop offset="0" style="stop-color:#FECC5E"/>
          <stop offset="0.3" style="stop-color:#EF7638"/>
          <stop offset="0.6" style="stop-color:#D62F84"/>
          <stop offset="1" style="stop-color:#9838DC"/>
        </linearGradient>
        <path fill="url(#SVGID_1_)" d="M534.5,98c-6.9-18.3-17.6-34.7-31.5-48.3c-13.6-13.8-30.1-24.6-48.2-31.4C437.4,11.7,417.6,7,388.7,5.7
          C359.5,4.3,350.3,4,276.4,4s-83.2,0.3-112.2,1.6c-28.9,1.3-48.8,6-66.1,12.7c-18.3,6.9-34.7,17.6-48.3,31.5
          C35.9,63.4,25.2,79.9,18.4,97.9C11.7,115.3,7,135.1,5.7,164C4.3,193.2,4,202.4,4,276.4s0.3,83.2,1.6,112.2
          c1.3,28.9,6,48.8,12.7,66.1c6.9,18.3,17.7,34.7,31.5,48.3c13.6,13.8,30.1,24.6,48.2,31.4c17.3,6.7,37.1,11.4,66.1,12.7
          c29,1.3,38.3,1.6,112.2,1.6s83.2-0.3,112.2-1.6c28.9-1.3,48.8-6,66.1-12.7c36.6-14.2,65.5-43.1,79.7-79.7
          c6.7-17.3,11.4-37.1,12.7-66.1c1.3-29,1.6-38.3,1.6-112.2s-0.1-83.2-1.4-112.2C545.8,135.2,541.2,115.3,534.5,98z M498.1,386.5
          c-1.2,26.6-5.6,41-9.4,50.5c-9.2,23.7-28,42.6-51.7,51.7c-9.6,3.7-24,8.2-50.5,9.4c-28.7,1.3-37.3,1.6-110,1.6s-81.4-0.3-110-1.6
          c-26.6-1.2-41-5.6-50.5-9.4c-11.8-4.4-22.6-11.3-31.3-20.3c-9-8.8-16-19.5-20.3-31.3c-3.7-9.6-8.2-24-9.4-50.5
          c-1.3-28.7-1.6-37.3-1.6-110s0.3-81.4,1.6-110c1.2-26.6,5.6-41,9.4-50.5c4.4-11.8,11.3-22.6,20.4-31.3c8.8-9,19.5-16,31.3-20.3
          c7.3-2.8,17.4-6.1,33.4-8c2.4-0.3,4.8-0.6,7.3-0.7c3.1-0.3,6.4-0.5,9.8-0.6c28.7-1.3,37.3-1.6,110-1.6c72.8,0,81.4,0.3,110,1.6
          c26.6,1.2,41,5.6,50.5,9.4c11.8,4.4,22.6,11.3,31.3,20.3c9,8.8,16,19.5,20.3,31.3c3.7,9.6,8.2,24,9.4,50.5
          c1.3,28.7,1.6,37.3,1.6,110S499.3,357.7,498.1,386.5z"/>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="86.2428" y1="466.4655" x2="464.6083" y2="88.1001">
          <stop offset="0" style="stop-color:#EFB10C"/>
          <stop offset="0.6474" style="stop-color:#CA328C"/>
          <stop offset="0.9951" style="stop-color:#CA328C"/>
        </linearGradient>
        <path fill="url(#SVGID_2_)" d="M276.4,136.5c-77.2,0-139.9,62.7-139.9,139.9s62.7,139.9,139.9,139.9c77.2,0,139.9-62.7,139.9-139.9
          S353.6,136.5,276.4,136.5z M276.4,367.1c-50.1,0-90.8-40.6-90.8-90.7c0-50.1,40.6-90.8,90.8-90.8c50.1,0,90.7,40.6,90.7,90.8
          C367.1,326.5,326.5,367.1,276.4,367.1z"/>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="420.7877" y1="528.1635" x2="420.7877" y2="6.7935">
          <stop offset="0" style="stop-color:#C23099"/>
          <stop offset="1" style="stop-color:#B433A6"/>
        </linearGradient>
        <path fill="url(#SVGID_3_)" d="M453.5,130.9c0,18-14.6,32.7-32.7,32.7c-18,0-32.7-14.6-32.7-32.7c0-18,14.6-32.7,32.7-32.7
          C438.8,98.3,453.5,112.9,453.5,130.9z"/>
      </svg>
    </a>
  </span>
  </div>

  <div class="cursor" #cursor></div>
</div>
