@import '~src/assets/sass/styles';
@import '~fullpage.js/dist/fullpage.min.css';
html.a-fullscreen {
  position: static;
}
body {
  cursor: none;
}
::selection {
  background: rgba($clr-primary, .5);
  color: $clr-white;
}
.content {
  will-change: transform;
  overflow: hidden;
  @include breakpoint($mq-desktop-fullhd, 420px, max-height) {
    width: 100vw;
    .fp-section {
      height: auto !important;
    }
  }
}
.header {
  &__phone {
    position: fixed;
    z-index: 1000;
    top: 80px;
    right: 220px;
    font-size: 32px;
    line-height: 42px;
    opacity: 0;
    transition: opacity .3s 1s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $font-title;
    color: $clr-white;
    font-weight: 400;
    @include breakpoint($mq-desktop-medium) {
      font-size: 24px;
      line-height: 30px;
      top: 40px;
      right: 120px;
    }
    @include breakpoint($mq-mobile) {
      top: 20px;
      right: 80px;
    }
    @include breakpoint($mq-mobile-medium) {
      font-size: 18px;
      line-height: 24px;
    }
    .svg-icon {
      width: 48px;
      height: 48px;
      margin-right: 20px;
      display: block;
      color: $clr-primary;
      @include breakpoint($mq-desktop-medium) {
        width: 30px;
        height: 30px;
      }
      @include breakpoint($mq-mobile-medium) {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }
  //&__waves {
  //  position: fixed;
  //  z-index: 1000;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  background: $clr-primary;
  //}
  &__toggle {
    cursor: pointer;
    display: block;
    width: 60px;
    height: 42px;
    text-align: center;
    transition: all .3s;
    position: fixed;
    z-index: 1500;
    top: 80px;
    right: 80px;
    mix-blend-mode: difference;
    @include breakpoint($mq-desktop-medium) {
      top: 40px;
      right: 40px;
      width: 42px;
      height: 30px;
    }
    @include breakpoint($mq-mobile) {
      top: 20px;
      right: 20px;
    }
    @include breakpoint($mq-mobile-medium) {
      width: 36px;
      height: 24px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      background: $clr-primary;
      width: 100px;
      height: 100px;
      z-index: -1;
      transition: transform .3s ease-in-out;
      @include breakpoint($mq-desktop-medium) {
        width: 74px;
        height: 74px;
      }
      @include breakpoint($mq-mobile) {
        width: 54px;
        height: 54px;
      }
    }
    .lines {
      &, span {
        &:before,
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
          width: 100%;
          margin: auto;
          content: '';
          background: $clr-white;
          transition: all .3s;
          display: block;
        }
      }
      &:before {
        bottom: auto;
      }
      &:after {
        top: auto;
      }
    }
    &:hover {
      mix-blend-mode: unset;
      &:before {
        transition: transform .3s ease-in-out;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
    &.nav-is-open {
      mix-blend-mode: unset;
      .lines {
        &:before,
        &:after {
          opacity: 0;
        }
        span {
          &:before {
            background: $clr-font;
            transform: rotate(45deg);
          }
          &:after {
            background: $clr-font;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  &__navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
    &:before {
      content: '';
      position: absolute;
      top: 50px;
      right: 60px;
      transform: scale(0);
      border-radius: 50%;
      background: $clr-primary;
      width: 100px;
      height: 100px;
      z-index: -1;
      transition: transform 1s .5s ease-in-out;
      @include breakpoint($mq-desktop-medium) {
        width: 74px;
        height: 74px;
        top: 18px;
        right: 24px;
      }
      @include breakpoint($mq-mobile) {
        width: 54px;
        height: 54px;
        top: 5px;
        right: 11px;
      }
    }
    &.is-visible {
      pointer-events: auto;
      &:before {
        transform: scale(90);
        transition: transform .7s .3s ease-in-out;
        @include breakpoint($mq-desktop-fullhd) {
          transform: scale(45);
        }
      }
      ul {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 1.5s .7s cubic-bezier(0.4, 0, 0.2, 1), transform .8s .7s cubic-bezier(0.4, 0, 0.2, 1);
        li a i:before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          height: 2px;
          background: $clr-white;
          transition: all .7s cubic-bezier(0.4, 0, 0.2, 1);
          max-width: 0;
          right: -100vw;
        }
      }
    }
    ul {
      padding: 120px 0;
      opacity: 0;
      transform: translateX(-500px);
      transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1), transform .8s cubic-bezier(0.4, 0, 0.2, 1);
      li {
        margin-bottom: 54px;
        @include breakpoint($mq-desktop-medium) {
          margin-bottom: 32px;
        }
        @include breakpoint($mq-mobile-medium) {
          margin-bottom: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: $clr-font;
          transition: color .3s ease-in-out;
          display: flex;
          width: 100%;
          position: relative;
          flex-wrap: wrap;
          align-items: center;
          pointer-events: none;
          span {
            display: block;
            pointer-events: auto;
            padding-right: 50px;
            @include breakpoint($mq-desktop-medium) {
              padding-right: 32px;
            }
            @include breakpoint($mq-mobile-medium) {
              padding-right: 20px;
            }
          }
          i {
            display: block;
            position: relative;
            flex-grow: 1;
            max-width: 0;
            transition: all .7s cubic-bezier(0.4, 0, 0.2, 1);
            pointer-events: auto;
          }
          &:hover {
            color: $clr-white;
            pointer-events: auto;
            i {
              max-width: 100%;
              &:before {
                max-width: 100vw;
              }
            }
          }
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 96px;
  z-index: 2000;
  transition: transform .7s ease-in-out;
  @include breakpoint($mq-desktop-medium) {
    bottom: 40px;
    right: 40px;
    width: 80px;
  }
  @include breakpoint($mq-mobile) {
    bottom: 20px;
    right: 20px;
    width: 40px;
  }
  & > span {
    display: block;
  }
  a {
    display: block;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $clr-white;
      border-radius: 50%;
      transition: all .3s;
      box-shadow: 12px 0 48px 0 rgba($clr-black, .2),
      8px 0 14px 0 rgba($clr-black, .12);
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    &:hover:before {
      background: $clr-primary;
    }
  }
  &__instagram {
    a {
      width: 100%;
      &:hover {
        svg path {
          fill: $clr-white;
        }
      }
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 62.5%;
      height: 62.5%;
      path {
        transition: all .3s;
      }
    }
  }
  &__to-top {
    transform: translateY(170%);
    transition: transform .5s .4s cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
    @include breakpoint($mq-desktop-medium) {
      margin-bottom: 20px;
    }
    @include breakpoint($mq-mobile-medium) {
      margin-bottom: 10px;
    }
    a {
      width: 66.666%;
      margin: 0 auto;
      @include breakpoint($mq-mobile) {
        width: 80%;
      }
      &:before {
        transform: scale(.1);
        transition: transform .5s .2s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover {
        span {
          &:before {
            background: $clr-white;
          }
          &:after {
            border-left-color: $clr-white;
            border-top-color: $clr-white;
          }
        }
      }
    }
    span {
      opacity: 0;
      transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 25px;
        background: $clr-font;
        transition: all .1s;
        @include breakpoint($mq-mobile) {
          display: none;
        }
      }
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 20px;
        height: 20px;
        border-radius: 1px;
        border-left: 2px solid $clr-font;
        border-top: 2px solid $clr-font;
        transition: all .1s;
        margin-top: 2%;
        @include breakpoint($mq-mobile) {
          width: 10px;
          height: 10px;
          border-width: 1px;
          margin-top: 7%;
        }
      }
    }
  }
}
body {
  &.fp-viewing-home {
    .header__phone {
      opacity: 1;
    }
  }
  &[class^='fp-viewing-plans'],
  &.fp-viewing-workout,
  &.fp-viewing-interior,
  &.fp-viewing-contacts,
  &.fp-viewing-sign-up,
  &.fp-viewing-copyright {
    .sticky {
      &__to-top {
        transform: translateY(0);
        transition: transform .5s .2s cubic-bezier(0.4, 0, 0.2, 1);
        a {
          &:before {
            transform: scale(1);
            transition: transform .5s .4s cubic-bezier(0.4, 0, 0.2, 1);
          }
          span {
            opacity: 1;
            transition: opacity .5s .6s cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
      }
    }
    .nav-is-open {
      .sticky {
        transform: translateX(0);
        transition: transform .7s ease-in-out;
        &__to-top {
          transform: translateY(170%);
          transition: transform .5s .4s cubic-bezier(0.4, 0, 0.2, 1);
          a {
            &:before {
              transform: scale(.1);
              transition: transform .5s .2s cubic-bezier(0.4, 0, 0.2, 1);
            }
            span {
              opacity: 0;
              transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
            }
          }
        }
      }
    }
  }
  &.fp-viewing-copyright {
    .sticky {
      @include breakpoint($mq-desktop-medium) {
        transform: translateY(-150px);
      }
      @include breakpoint($mq-tablet-small) {
        transform: translateY(-100px);
      }
      @include breakpoint($mq-mobile-medium) {
        transform: translateY(-90px);
      }
    }
  }
  &.fp-viewing-contacts {
    .sticky {
      @include breakpoint($mq-tablet-small) {
        transform: translateY(-100px);
      }
      @include breakpoint($mq-mobile) {
        transform: translateY(-60px);
      }
      @include breakpoint($mq-mobile-medium) {
        transform: translateY(-50px);
      }
    }
  }
}
.cursor {
  width: 60px;
  height: 60px;
  border: 2px solid $clr-white;
  border-radius: 50%;
  position: fixed;
  z-index: 5000;
  transition: all .1s ease-in-out;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  mix-blend-mode: difference;
  will-change: top, left;
  @include breakpoint($mq-desktop-medium) {
    width: 30px;
    height: 30px;
  }
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    border: 3px solid $clr-white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background: $clr-white;
    transform: translate(-50%, -50%) scale(.3);
    mix-blend-mode: difference;
    transition: all .3s;
  }
  &.is-expand {
    animation: cursorAnimExpand .5s infinite alternate;
    border: 1px solid $clr-white;
    &:after {
      background: transparent;
      border: 4px solid $clr-white;
      transform: translate(-50%, -50%) scale(.3);
    }
  }
}
@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}
@keyframes cursorAnimExpand {
  from {
    transform: scale(1.6);
  }
  to {
    transform: scale(1.2);
  }
}
