html {
    height: 100%;
    &.a-fullscreen {
        position: static;
    }
}
body {
    font-family: $font-primary;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    color: $clr-font;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
a, input, button {
    font-family: $font-primary;
    transition: all 0.3s;
}

.frame {
    padding: 0 40px;
    max-width: 1536px;
    margin: 0 auto;
    width: 100%;
    @include breakpoint($mq-mobile) {
        padding: 0 20px;
    }
}
