@import '~src/assets/sass/styles';

.admin-panel {
  min-height: 100vh;
  padding-left: 60px;
  &__navigation {
    display: flex;
    flex-direction: column;
    background: $clr-bg-dark;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
  }
  &__body {
    padding: 26px 48px 184px;
    position: relative;
    @include breakpoint($mq-desktop-hd) {
      padding: 26px 20px 184px;
    }
    &:after {
      position: fixed;
      content: '';
      bottom: 0;
      left: 60px;
      right: 0;
      height: 126px;
      background: linear-gradient(to bottom, rgba($clr-white,0) 0%,rgba($clr-white,1) 100%);
      z-index: 100;
      pointer-events: none;
    }
  }
}
