<div class="subscriptions-list">
  <div class="subscriptions-list__header">
    <div class="subscriptions-list__row">
      <button class="subscriptions-list__item" (click)="sortSubscriptions('name')">
        <span class="subscriptions-list__sort" [class.subscriptions-list__sort--revers]="!sortType" *ngIf="sortKey == 'name'"></span>
        Title
      </button>
      <button class="subscriptions-list__item" (click)="sortSubscriptions('cost')">
        <span class="subscriptions-list__sort" [class.subscriptions-list__sort--revers]="!sortType" *ngIf="sortKey == 'cost'"></span>
        Cost
      </button>
    </div>
  </div>
  <div class="subscriptions-list__list" @list>
    <div class="subscriptions-list__row" *ngFor="let subscription of subscriptions; trackBy: trackId" @items>
      <div class="subscriptions-list__item">
        {{ subscription.name }}
      </div>
      <div class="subscriptions-list__item">
        ${{ subscription.cost }}
      </div>
    </div>
  </div>
</div>
