@import '~src/assets/sass/styles';

.client-form {
  &__button {
    position: fixed;
    bottom: 48px;
    right: 48px;
    width: 88px;
    height: 88px;
    z-index: 200;
    border-radius: 50%;
    transition: all .3s;
    &--hidden {
      opacity: 0;
      transform: scale(.5);
      visibility: hidden;
      pointer-events: none;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 50%;
      background: $clr-primary;
      transition: all .3s;
    }
    span {
      &:before,
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $clr-white;
        z-index: 1;
      }
      &:before {
        width: 2px;
        height: 32px;
      }
      &:after {
        width: 32px;
        height: 2px;
      }
    }
    &:hover {
      &:before {
        transform: scale(1.12);
        background: $clr-secondary;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: rgba($clr-bg-dark, .1);
    z-index: 500;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    &--visible {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 652px;
    background: $clr-white;
    z-index: 600;
    transition: all .3s;
    transform: translateX(100%);
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    padding: 26px 48px 184px;
    box-shadow: 12px 0 48px 0 rgba($clr-black, .2),
                8px 0 14px 0 rgba($clr-black, .12);
    @include breakpoint($mq-desktop-hd) {
      padding: 26px 20px 184px;
    }
    &--visible {
      transform: translateX(0);
      visibility: visible;
      pointer-events: auto;
      transition-delay: .4s;
    }
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__title {
    flex: 1 0 0;
  }
  &__close {
    width: 48px;
    height: 48px;
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      background: $clr-line-dark;
      width: 2px;
      height: 30px;
      transform-origin: 0 0;
      transition: all .3s;
    }
    &:before {
      transform: rotate(45deg) translate(-50%, -50%);
    }
    &:after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
    &:hover {
      &:before,
      &:after {
        background: $clr-primary;
      }
      &:before {
        transform: rotate(135deg) translate(-50%, -50%);
      }
      &:after {
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
  }
  &__form {
    padding-top: 36px;
    .form {
      &__radiobtn {
        span {
          padding-right: 40px;
        }
      }
      &__repeater {
        margin-bottom: 60px;
      }
      &__list {
        margin-bottom: 34px;
      }
    }
  }
}
